<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Бар "100 рентген"</title>
  <link rel="stylesheet" href="/public/css/master.css">
</head>
  <script src = "/socket.io/socket.io.js"></script>
<body>
  <section class="main">
    <div class="container">

      <h2>Выберите комнату для игры:</h2>
      <!-- <form action= "/update" method= "POST" >
        <lable for = "name">Reload game data</lable>
        <input type = "submit" name = "name" value="ok" />
      </form> -->
      <div class="rooms">
        <% for(let i = 0; i < countUsers; i++) {%>
          <div class="room">
            <div class="room__title">
              <p>Комната <%= i + 1 %></p>
            </div>
            <div class="room__body">
              <div class="room__body_btn">
                <a  download href='<%= "/room" + (i + 1) %>'><input type="button" name="join" id="<%= i %>" value="Присоедениться"></input></a>
              </div>
            </div>
          </div>
        <%} %>
      </div>
    </div>
  </section>

</body>
</html>
